<section class="container">
  <div>
    <select id="leftValues" size="5" multiple>
      <option *ngFor="let option1 of options1"> {{ option1.number }}  </option>

    </select>
  </div>
  <div>
    <!--<input type="button" id="btnLeft" value="&lt;&lt;" />-->
    <button onclick="moveSelectedLeft()"><i class="fa fa-arrow-left"></i></button>
    <button onclick="moveSelectedRight()"><i class="fa fa-arrow-right"></i></button>
    <!--<input type="button" id="btnRight" value="&gt;&gt;" />-->
  </div>
  <div>
    <select id="rightValues" size="4" multiple>
      <option *ngFor="let option2 of options2"> {{ option2.number }}  </option>

    </select>
    <div>
      <input type="text" id="txtRight" />
    </div>
  </div>
</section>
