<section class="container">
  <div>
    <select [(ngModel)]="selectedOptionsLeft" id="leftValues" size="5" multiple>
      <option *ngFor="let option1 of optionsLeft" value="{{option1.number}}"> {{ option1.number }}  </option>

    </select>
  </div>
  <div>
    <button (click)="moveSelectedLeft()"><i class="fa fa-arrow-left"></i></button>
    <button (click)="moveSelectedRight()"><i class="fa fa-arrow-right"></i></button>
  </div>
  <div>
    <select [(ngModel)]="selectedOptionsRight" id="rightValues" size="4" multiple>
      <option *ngFor="let option2 of optionsRight" value="{{option2.number}}"> {{ option2.number }}  </option>

    </select>
    <div>
      <input type="text" id="txtRight" />
    </div>
  </div>
</section>

<div>
    <pre>
      selected options right: {{ selectedOptionsRight | json }}

      selected options: left {{ selectedOptionsLeft | json }}

  </pre>
</div>
