body {
  font-family: serif, Arial, "Times New Roman";
}

.container {
  display: flex;
  justify-content: center;
}
.list {
  width: auto%;
  height: auto;
  border-color: black;
  border-style: solid;
  display: inline-block;

}
.submitButton {
  display: flex;
  justify-content: center;
}

select {
  border-style: none;
}


.buttonContainer {
  display: flex;
  justify-content: center;
}
